.btn{
	padding: 20px 40px;
	border-radius: 30px;
	text-transform: uppercase;
	color:$white;
	margin-left: 50%;
    transform: translateX(-50%);
	&__promo{
		background-color: transparent;
		border: 1px solid $white;
		color:$white;
		margin-bottom: 200px;
	}
}