.main-header{
	background-color: #404A51;
	background-image: url('../img/bg-header.jpg');
	opacity: 0.8;
	padding-top: 10px;
}

.main-header__logo{
	max-width: 100%;
}
.main-header__menu{
	@include font_white();
	font-size: 14px;
	text-transform: uppercase;
	float: left;
}
.nav{
	display:flex;
  	&__item{
	color: $white;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
	 &:hover{
	text-decoration: none;
    color: $white;
    opacity: .5;
	 }
		}

}
