
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$font: Montserrat, Arial,Sans-serif;
$white: #e8e8e8;
$black: #29323c;

@mixin font_white(){
	font-family:Montserrat, Arial,Sans-serif; ;
	color:#e8e8e8;
}
@mixin font_title(){
	font-family: $font;
	color: $black;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}
@mixin font_text(){
	font-size: 14px;
	text-align: center;
	margin-bottom: 50px;
	font-weight: 300;
}
@mixin p_after(){
	content: '';
    width: 31px;
    height: 2px;
    position: absolute;
    top: 31px;
    right: 48%;
    background-color: $black;
    @media (max-width:768px) {
    	top:-4px;
    }
}

@import 'main-header';
@import 'promo';
@import 'btn';
@import 'servises';
@import 'work';
@import 'clients';
@import 'team';
@import 'partners';
@import 'pricing';
@import 'map';
@import 'form';
@import 'main-footer';
@import 'sotial';